html {
    line-height: 1.3em;
    font-family: sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
}

h1 {
    margin: 4rem 0 2rem 0;
}

header {
    margin-bottom: 2em;
}

main {
    flex: 1;
}

#login-form.loading::after, .spinner {
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    margin-left: 1ch;
    vertical-align: text-bottom;
    border: .2em solid #330000;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: spinner 1400ms ease-out infinite;
    transform: rotate(120deg);

}

@keyframes spinner {
    from {
        transform: rotate(-1500deg);
    }
}

.error {
    background: #ffdddd;
    border: 1px solid #c55446;
    padding: .6em 1em;
}

.error.not-shown {
    display: none;
}

footer {
    margin-top: 10em;
    color: #444;
}
