/* foo */

body {
    max-width: 40em;
    margin: auto;
    line-height: 1.3em;
    font-family: sans-serif;
}

h1 {
    margin: 4rem 0 2rem 0;
}

#login-form.loading::after {
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    margin-left: 1ch;
    vertical-align: text-bottom;
    border: .2em solid #330000;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: spinner 1400ms ease-out infinite;
    transform: rotate(120deg);

}

@keyframes spinner {
    from {
        transform: rotate(-1500deg);
    }
}

.error {
    background: #ffdddd;
    border: 1px solid #c55446;
    padding: .6em 1em;
}

.error.not-shown {
    display: none;
}
